.heading{
    text-align: center;
    color: #ff0000;
    }
    video  {
      width: 192px;
      height: 192px;
      outline: #30c196 solid 5px;
      border-radius: 15px 20px;
      -webkit-transform: scaleX(-1); /* mirror effect while using front cam */
      transform: scaleX(-1);         /* mirror effect while using front cam */
    }
    
    #canvas  {
      width: 192px;
      height: 192px;
      -webkit-transform: scaleX(-1); /* mirror effect while using front cam */
      transform: scaleX(-1);         /* mirror effect while using front cam */
    }
    .titlecam00 {
      font-size: 35px;
      font-family: 'Times New Roman', Times, serif;
      font-style: bold;
      text-align: center;
      width: 100%;
    }