body{
    background: rgb(16,199,126);
    background: linear-gradient(0deg, rgba(16,199,126,1) 0%, rgba(24,226,186,1) 0%, rgba(12,250,228,1) 0%, rgba(191,23,224,1) 0%, rgba(25,8,221,1) 71%, rgba(157,52,208,1) 100%);
}
.erimg img{
    margin-left: auto;
    margin-right: auto;
    float: center;
    place-items: center;
    border-radius: 125.10px/110.10px;
    width: 70%;
    display: block;
    position: relative;
    top: 10%;
}
.annotext h1{
    color: #f9f9f9;
    font-family: 'Poppins','Sans-Serif';
    font-size: 2rem;
    text-align:center;
}
.annotext p{
    color: #f9f9f9;
    font-family: 'Poppins','Sans-Serif';
    font-size: 1.5rem;
    text-align: center;
}
.annotext a{
    color: #18e2d6;
    font-family: 'Poppins','Sans-Serif';
    text-decoration:none;
}
.annotext a:hover{
    color: #f9f9f9;
}